<div id="<%= dom_id evento %>">
  <p>
    <strong>Descricao:</strong>
    <%= evento.descricao %>
  </p>

  <p>
    <strong>Data inicio:</strong>
    <%= evento.data_inicio %>
  </p>

  <p>
    <strong>Data fim:</strong>
    <%= evento.data_fim %>
  </p>

</div>
